{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, меня зовут Артем!</h1>
<p>
  <img src="/static/img/Artem.jpg" alt="author" width="200" ><br>
  Я студент Яндекс.Практикума.<br>
  Учусь на программиста по специальности: backend-разработчик на языке Python.<br>
  Помимо большого количества теории, мы делаем проекты.<br>
  На одном из них вы сейчас собственно и находитесь.<br>
  Если вы сейчас читаете этот пост - это значит только одно, у меня всё получилось.<br>
  Социальная сеть для публикации личных дневников/блогов - работает!<br>
  <a href="https://github.com/Darkteman">https://github.com/Darkteman</a>
</p>
{% endblock %} 